<script>
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    let userData = {
        name: "",
        point: 0,
    };

    const onSubmit = (e) => {
        e.preventDefault();
        dispatch("adduserdata", userData);
        userData = {
            name: "",
            point: 0,
        };
    };
</script>

<div class="container">
    <form on:submit={onSubmit} class="grid-3">
        <input type="text" placeholder="User Name" bind:value={userData.name} />
        <input
            type="number"
            placeholder="User Points"
            bind:value={userData.point}
        />
        <input type="submit" class="btn btn-primary" value="Add User" />
    </form>
</div>
