<script>
    import { createEventDispatcher } from "svelte";
    
    const dispatch = createEventDispatcher();

    export let name;
    export let points;
    let showControls = false;

    const addPoint = () => {
        points += 1;
    };
    const removePoint = () => {
        points -= 1;
    };
    const toggleControls = () => {
        showControls = !showControls;
    };
    const onRemove = (e) => {
        dispatch("removeuser", name);
    };
</script>

<div class="container">
    <div class="card">
        <h1>
            {name}
        </h1>
        <button class="btn btn-sm" on:click={toggleControls}
            >{#if showControls}colapse{:else}expand{/if}</button
        >
        <button class="btn btn-danger btn-sm" on:click={onRemove}>x</button>
        <h3>Points: {points}</h3>
        {#if showControls}
            <button class="btn" on:click={addPoint}>+1</button>
            <button class="btn btn-dark" on:click={removePoint}>-1</button>
            <input type="number" bind:value={points} />
        {/if}
    </div>
</div>

<style>
    h1 {
        color: palevioletred;
    }
</style>
