<script>
	import UserCard from "./components/UserCard.svelte";
	import Navbar from "./components/Navbar.svelte";
	import AddCard from "./components/AddCard.svelte";

	let users = [
		{ name: "MR.1", points: 10 },
		{ name: "MR.2", points: 20 },
		{ name: "MR.3", points: 30 },
		{ name: "MR.4", points: 40 },
	];

	const addUsers = (e) => {
		const formData = e.detail;
		console.log(`formData`, formData);
		users = [...users, formData];
	};

	const removeUsers = (e) => {
		users = users.filter(user => user.name !== e.detail)
	};
</script>

<main>
	<Navbar />
	<AddCard on:adduserdata={addUsers} />
	{#if users.length === 0}
		<div>No User /></div>
	{:else}
		{#each users as user}
			<UserCard name={user.name} points={user.points} on:removeuser={removeUsers}/>
		{/each}
	{/if}
</main>

<style>
	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
